.complex-vis-frame__pic-caption {
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 130%;
  letter-spacing: 0.03em;
  margin: 0 auto;
  margin-top: -20px;
  max-width: 303px;
}