.design-interior {
    margin: 0 auto;
    max-width: 1600px;
    min-height: 920px;
    /*position: relative;*/
}



/*
.design-interior::after {
    content: '';
    position: absolute;
    background: url("../../images/background.png") no-repeat center;
    !*background-size: cover;*!
    !*min-width: 100%;*!
    !*min-height: 100%;*!
    opacity: .8;
    z-index: -1;
    inset: 0;

}*/
