.page {
  font-family: 'NeueMachina', Arial, 'sans-serif';
  font-weight: 400;
  color: var(--text-color);
  max-width: 1600px;
  background-color: var(--bg-color);
  margin: 0 auto;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
