.header__phone-number {
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 21px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--text-color);
  transition: all .3s ease-in-out;
}

@media (hover: hover) {
  .header__phone-number:hover {
    opacity: .7;
    cursor: pointer;
  }
}