.copied-popup {
  width: 0;
  height: 100px;
  border-radius: 10px;
  position: fixed;
  right: 10%;
  bottom: 10%;
  box-sizing: border-box;
  box-shadow: 0 0 30px 0 rgba(0, 255, 0, 0.5);
  text-align: center;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  color: #000;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out,
    width 1s linear;
  background: lightgreen;
}

.copied-popup_show-animation {
  width: 200px;
}
