.burger-overlay__popup {
  width: 100%;
  max-width: 835px;
  margin: 0 auto;
  background: url(../../../images/Vector.svg) no-repeat center / contain;
  box-sizing: border-box;
  height: 100%;
  max-height: 75vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
