.complex-vis-frame__title {
  display: grid;
  align-self: start;
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 100%;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  padding-bottom: 45px;
}