.hero__description {
  font-family: HelveticaNeueCyr;
  font-size: 17px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.04em;
  text-align: left;
  max-width: 478px;
  text-transform: uppercase;
  margin-left: 50px;
  align-self: flex-end;
}
