.design-interior__central-container {
    margin: 0 auto;
    padding: 0;
    border-top: rgba(255, 255, 255, .2) solid 1px;
    border-bottom: rgba(255, 255, 255, .2) solid 1px;
    display: flex;
    justify-content: space-around;
}