.complex-vis-frame__pic-container {
  display: flex;
  border: 1px solid rgba(255, 255, 255, 0.2);
  width: 540px;
  min-height: 404px;
  align-self: start;
  flex-direction: column;
  box-sizing: border-box;
  border-radius: 3px;
}

.complex-vis-frame__pic-container:nth-of-type(2n - 1) {
  margin-bottom: 41px;
}

.complex-vis-frame__pic-container:nth-of-type(2n) {
  align-self: end;
}