.header__consult-btn {
  display: flex;
  background: none;
  width: 324px;
  height: 58px;
  border: 1px solid var(--text-color);
  border-radius: 67px;
  color: var(--text-color);
  align-items: center;
  justify-content: center;
  font-family: 'HelveticaNeueCyr', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  box-sizing: border-box;
}