.hero__text-container {
  grid-area: text;
  display: grid;
  grid-template-areas:
  "nav heading"
  "nav descrip";
  grid-template-rows: repeat(2, min-content);
  grid-template-columns: min-content 1fr;
  column-gap: 44px;
  justify-self: flex-start;
}
