.design-interior__title {
    margin: 0 0 30px;
    font-family: 'NeueMachina', Arial, 'sans-serif';
    font-weight: 500;
    font-size: 52px;
    line-height: 110%;
    max-width: 555px;
    text-transform: uppercase;
}