.burger-overlay__grid-item {
    position: relative;
}

.burger-overlay__grid-item::marker {
    font-size: 20px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0.03em;
    text-align: left;
    color: rgba(255, 255, 255, 0.62);
    transition: color 0.3s ease-in-out;
}

@media (hover: hover) {
    .burger-overlay__grid-item:hover > .burger-overlay__grid-link,
    .burger-overlay__grid-item:hover::marker {
        color: #fff;
    }
}
