.header {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 0;
  padding-top: 27px;
  padding-left: 42px;
  padding-right: 42px;
  justify-content: space-between;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 50;
}
